# Umi dev/build outputs
/.umirc.local.ts
/config/config.local.ts
/src/.umi
/src/.umi-production
/src/.umi-test
/dist
.swc

# Node dependencies
node_modules

# Logs
logs
*.log

# Local env files
.env*.local

# Misc
.DS_Store
.idea
.vscode
*.code-workspace
